<div class="comment__bar">
  <div class="index_bar">
    <p>コメントを投稿する</p>
  </div>
  <div class="comment_form">
    <div class="comment-input">
      <input class="comment-word" placeholder= "Enter a comment">
    </div>
      <input class="comment-submit" type="submit" value="送信">
  </div>
</div>