<div class="comment__bar">
  <div class="index_bar">
    <p>コメントを投稿する</p>
  </div>
  <div class="comment_form">
  <%= form_with model: [@room, @comment], class: 'comment_form', local: true do |f| %>
    <div class="comment-input">
      <%= f.text_field :message, placeholder: 'type a comment', class: 'comment-word' %>
    </div>
      <%= f.submit '送信', class: 'comment-submit' %>
  </div>
  <% end %>
</div>