<div class="search_bar">
  <div class="index_bar">
    <p>コメントを投稿する</p>
  </div>
  <div class="search_form">
    <div class="form-input">
      <input class="form-keyword" placeholder= "Enter a comment">
    </div>
      <input class="form-submit" type="submit" value="送信">
  </div>
</div>