<%= render partial: 'rooms/main_bar' %>
<div class="new_bar">
  <p>コメント投稿</p>
</div>
<%= render partial: 'room' %>
<div class="comment_body">
<%= render partial: 'message' %>
</div>
<%= render partial: 'comment' %>

