<div class="show_user">
  <%= render partial: 'rooms/main_bar' %>
    <div class="show_bar">
      <p>マイページ</p>
  </div>
  <div class="user_name">
    <%= link_to "ようこそ" + current_user.name + "さん", user_path(current_user.id), class: "user__name" %>
  </div>
  <% @rooms.each do |room| %>
    <% if current_user.id == room.user.id %>
      <%= render partial: 'rooms/rooms',locals: { room: room } %>
    <% end %>
  <% end %>
</div>