<div class="wrapper">
<div class="show_user">
  <div class="show_bar">
    <p><%= @name + "さんの投稿一覧" %></p>
  </div>
  <% @rooms.each do |room| %>
      <%= render partial: 'rooms/rooms',locals: { room: room } %>
  <% end %>
</div>
</div>