<div class="show_user">
  <%= render partial: 'rooms/main_bar' %>
  <div class="show_bar">
    <p><%= @name + "さんの投稿一覧" %></p>
  </div>
  <% @room.each do |room| %>
      <%= render partial: 'rooms/rooms',locals: { room: room } %>
  <% end %>
</div>