<div class="show_user">
  <%= render partial: 'rooms/main_bar' %>
    <div class="index_bar">
      <p>マイページ</p>
  </div>
  <% @rooms.each do |room| %>
    <% if current_user.id == room.user.id %>
      <%= render partial: 'rooms/rooms',locals: { room: room } %>
    <% end %>
  <% end %>
</div>