<ul class="edit_lists"><li id="guide">Guide</li></ul>
  <ul class="hidden" id="text">
    <li>・投稿一覧ページに表示されるルームの『タイトル』をクリックするとコメントページへ遷移します。
        <br>また、『投稿者』をクリックするとその投稿者の投稿一覧ページへ遷移します。
        <br>・各ページにある、『ようこそ(現在、自分がログインしているユーザー名)さん』をクリックすると自分の投稿一覧ページへ遷移します。
        <br>・自分が投稿したRoomにのみ『編集』ボタンと『削除』ボタンが表示され、編集・削除ができます。
        <br>・投稿一覧ページ上部にあるフォームに検索したいワード（タイトルまたはアーティスト名）を入力し検索すると条件に合ったルームが表示されます。
        </p></li>
  </ul>