<div class="guide_logo">
<i class="fas fa-book"></i>
<ul class="edit_lists"><li id="guide">Guide</li></ul>
</div>
  <ul class="hidden" id="text">
    <li>「投稿一覧ページ」に表示されるRoomの『タイトル』をクリックすると「コメントページ」へ遷移します。
      <br>　また、『投稿者』をクリックすると「その投稿者の投稿一覧ページ」へ遷移します。</li>
      <li>各ページにある、『ようこそ(現在、自分がログインしているユーザー名)さん』をクリックすると自分の「投稿一覧ページ」へ遷移します。</li>
      <li>自分が投稿したRoomにのみ『編集』ボタンと『削除』ボタンが表示され、編集・削除ができます。</li>
      <li>投稿一覧ページ上部にあるフォームに検索したいワード（タイトルまたはアーティスト名）を入力し検索すると条件に合ったRoomが表示されます。</li>
      <li>ページ上部のロゴをクリックすると「投稿一覧ページ」へ遷移します。</li>
  </ul>