<div class="main_header">
  <div class="main_title">
    <a href=#>musicBoard</a>
  </div>
  <div class="main_btn">
    <% if user_signed_in? %>
    
    <% else %>
      <%= link_to "ログイン", new_user_session_path %>
      <%= link_to "新規登録", new_user_registration_path %>
    <% end %>
  </div>
</div>