<div class="room">
  <div class="post">
    <p class="room_post">
      タイトル：<%= link_to room.title, new_comment_path, class: :room_url%>
    </p>
    <p class="room_post">
      アーティスト：<%= room.artist %>
    </p>
    <p class="room_post">
      リリース日：<%= room.date %>
    </p>
    <p class="room_post">
      投稿者：<%= room.user.name %>
    </p>
  </div>
</div>