<div class="post">
    <div class="room_post">
      <a hrref=# class="room">タイトル/~~~~~~~</a>
      <a hrref=# class="room">アーティスト名/~~~~~~~~~</a>
      <a hrref=# class="room">リリース日/00年 00月 00日</a>
      <a hrref=# class="room">投稿者/~~~~~~さん</a>
    </div>
    <div class="room_post">
      <a hrref=# class="room">タイトル/~~~~~~~</a>
      <a hrref=# class="room">アーティスト名/~~~~~~~~~</a>
      <a hrref=# class="room">リリース日/00年 00月 00日</a>
      <a hrref=# class="room">投稿者/~~~~~~さん</a>
    </div>
    <div class="room_post">
      <a hrref=# class="room">タイトル/~~~~~~~</a>
      <a hrref=# class="room">アーティスト名/~~~~~~~~~</a>
      <a hrref=# class="room">リリース日/00年 00月 00日</a>
      <a hrref=# class="room">投稿者/~~~~~~さん</a>
    </div>
    <div class="room_post">
      <a hrref=# class="room">タイトル/~~~~~~~</a>
      <a hrref=# class="room">アーティスト名/~~~~~~~~~</a>
      <a hrref=# class="room">リリース日/00年 00月 00日</a>
      <a hrref=# class="room">投稿者/~~~~~~さん</a>
    </div>
    <div class="room_post">
      <a hrref=# class="room">タイトル/~~~~~~~</a>
      <a hrref=# class="room">アーティスト名/~~~~~~~~~</a>
      <a hrref=# class="room">リリース日/00年 00月 00日</a>
      <a hrref=# class="room">投稿者/~~~~~~さん</a>
    </div>
    <div class="room_post">
      <a hrref=# class="room">タイトル/~~~~~~~</a>
      <a hrref=# class="room">アーティスト名/~~~~~~~~~</a>
      <a hrref=# class="room">リリース日/00年 00月 00日</a>
      <a hrref=# class="room">投稿者/~~~~~~さん</a>
    </div>
  </div>