<div class="search_bar">
  <div class="index_bar">
    <p>投稿一覧</p>
  </div>
  <div class="search_form">
    <div class="form-input">
      <input class="form-keyword" placeholder= "Please enter a keyword">
    </div>
      <input class="form-submit" type="submit" value="検索">
  </div>
</div>