<div class="wrapper">
  <%= render "main_bar" %>
  <%= render "search" %>
  <div class="user_name">
    <%= link_to "ようこそ" + current_user.name + "さん", edit_user_path(current_user) %>
  </div>
  <%= render "rooms" %>
</div>
