* {
  box-sizing: border-box;
}

.wrapper {
  width: 100vw;
}
.main_header {
  width: 100vw;
  height: 60px;
  background-color: gray;
  padding: 0 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main_title a {
  text-decoration: none;
  color: #ffffff;
  font-size: large;
}

.main_btn a {
  text-decoration: none;
  padding: 10px;
  border: 1px solid #ffffff;
  color: #ffffff;
  margin: 0 10px;
}

.main_btn a:hover {
  opacity: 0.7;
}

.search_bar {
  display: flex;
  height: 50px;
  background-color: lightskyblue;
}

.show_bar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333333;
  height: 35px;
}

.show_bar p {
  text-decoration: none;
  color: #ffffff;
}

.index_bar {
  min-width: 20vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333333;
}

.index_bar p {
  text-decoration: none;
  color: #ffffff;
}

.search_form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 70vw;
}

.form-keyword {
  border: none;
  height: 33px;
  width: 65vw;
  margin: 0 20px;
}

.form-submit {
  background-color: #38AEF0;
  border: none;
  color: white;
  font-size: 16px;
  height: 35px;
  margin: 0 10px;
  padding: 0 10px;
  min-width: 10vw;
}

.form-submit:hover {
  opacity: 0.7;
}

.user_name {
  padding: 20px;
  min-width: 20vw;
}

.user__name {
  text-decoration: none;
  color: #333333;
  border-bottom: 1px solid #333333;
}

.user__name:hover {
  opacity: 0.7;
}

.room {
  display: flex;
  justify-content: space-around;
  float: left;
}

.post {
  background-color: grey;
  min-width: 30vw;
  padding: 3px 10px;
  margin: 10px 25px;
}

.room_post {
  display: block;
  color: #ffffff;

}

.room_url {
  border-bottom: 1px solid #ffffff;
  text-decoration: none;
  color: #ffffff;
}

.show_user {
  background-color: burlywood;
}

.new_bar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333333;
  height: 35px;
}

.new_bar p {
  color: #ffffff;
}

.comment_bar {
  display: flex;
  border-bottom: 1px solid #333333;
}

.comment_room {
  min-width: 70vw;
  padding: 5px 5px;
}

.comment_post {
  color: #333333;
}

.end_btn {
  text-decoration: none;
  background-color: grey;
  color: #ffffff;
  text-align: center;
  padding-top: 10px;
  min-width: 10vw;
  font-size: larger;
  height: 50px;
}

.end_btn:hover {
  opacity: 0.7;
}

.comment__bar {
  display: flex;
  height: 50px;
  background-color: lightskyblue;
  position: fixed;
  bottom: 0;
}

.comment_form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 70vw;

}

.comment-word {
  border: none;
  height: 33px;
  width: 65vw;
  margin: 0 20px;
  padding: 3px;
}

.comment-submit {
  text-decoration: none;
  background-color: #38AEF0;
  border: none;
  color: white;
  font-size: 16px;
  height: 35px;
  margin: 0 10px;
  padding: 0 10px;
  min-width: 10vw;
}

.comment-submit:hover {
  opacity: 0.7;
}

.comment_body {
  height: calc( 100vh - 200px );
}

.message {
  margin: 25px 0 15px 20px;
  background-color:azure
}

.upper-message {
  display: flex;
  padding: 7px 5px 5px 10px;
}

.message-user {
  padding-right: 10px;
}

.message-content {
  padding: 0 5px 5px 10px;
}