* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

.wrapper {
  height: 100%;
  background-image: url(record.png);
}

/* ヘッダー */
.main_header {
  width: 100vw;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main_title {
  width: 40vw;
}

.main_header {
  background-color: lightgray;
  padding: 0 40px;
}

.main_logo {
  width: 60%;
}

.nav__btn {
  display: inline-block;
  text-decoration: none;
  padding: 10px;
  border: 1px solid #ffffff;
  color: #ffffff;
  margin: 0 10px;
}

.main_btn a:hover {
  opacity: 0.7;
}

/* ユーザー情報まわり */
.user_name {
  padding: 20px;
  min-width: 20vw;
}

.user__name {
  text-decoration: none;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}

.user__name:hover {
  opacity: 0.7;
}

.top-bar {
  display: flex;
  justify-content: space-between;
}

/* 投稿・編集機能周り */

.room {
  display: flex;
  justify-content: space-around;
  float: left;
}

.post {
  background-color: grey;
  min-width: 27vw;
  padding: 3px 10px;
  margin: 10px 25px;
  opacity: 0.9;
}

.room_post {
  display: block;
  color: #ffffff;
}

.room_url, .room_user {
  border-bottom: 1px solid #ffffff;
  text-decoration: none;
  color: #ffffff;
}

.new_bar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333333;
  height: 35px;
}

.new_bar p {
  color: #ffffff;
}

.edit_bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2px;
}

.room__btn {
  text-decoration: none;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 3px;
}

/* 検索機能 */
.search_bar {
  display: flex;
  height: 50px;
  background-color: rgb(247, 174, 126);
}

.index_bar {
  min-width: 20vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333333;
}

.index_bar p {
  text-decoration: none;
  color: #ffffff;
}

.search_form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-keyword {
  border: none;
  height: 33px;
  width: 60vw;
  margin: 0 20px;
}

.form-submit {
  background-color: #ec930e;
  border: none;
  color: white;
  font-size: 16px;
  height: 35px;
  margin: 0 10px;
  padding: 0 10px;
  min-width: 10vw;
}

.form-submit:hover {
  opacity: 0.7;
}

/* コメント機能 */
.comment_bar {
  display: flex;
  border-bottom: 1px solid #333333;
  z-index: 4;
}

.comment_room {
  min-width: 70vw;
  padding: 5px;
}

.comment_post {
  color: #333333;
}

.end_btn {
  text-decoration: none;
  background-color: grey;
  color: #ffffff;
  text-align: center;
  padding-top: 10px;
  min-width: 10vw;
  font-size: larger;
  height: 50px;
}

.end_btn:hover {
  opacity: 0.7;
}

.comment__bar {
  display: flex;
  height: 50px;
  width: 100vw;
  background-color: rgb(247, 174, 126);
  position: fixed;
  bottom: 0;
  z-index: 6;
}

.comment_form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-word {
  border: none;
  height: 33px;
  min-width: 65vw;
  margin: 0 20px;
  padding: 3px;
}

.comment-submit {
  text-decoration: none;
  background-color: #ec930e;
  border: none;
  color: white;
  font-size: 16px;
  height: 35px;
  margin: 0 10px;
  padding: 0 10px;
  min-width: 10vw;
}

.comment-submit:hover {
  opacity: 0.7;
}

.comment_body {
  background-image: url(record.png);
  overflow-y:scroll;
  z-index: 0;
}

.message-display {
  margin: 25px 20px 15px 20px;
  background-color: #ffffff;
  opacity: 0.7;
}

.upper-message {
  display: flex;
  padding: 7px 5px 5px 10px;
}

.message-user {
  padding-right: 10px;
}

.user-name {
  color: #333333;
}

.lower-message {
  padding: 0 5px 5px 10px;
}

/* ユーザー詳細機能 */
.show_bar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333333;
  height: 35px;
}

.show_bar p {
  text-decoration: none;
  color: #ffffff;
}

/* guide */
.guide {
  background-color: #ffffff;
  opacity: 0.4;
  padding: 3px 5px 3px 15px;
}

.guide_logo {
  display: flex;
  align-items: center;
}

.fa-book {
  margin-right: 3px;
  color: #127232;
}

.guide_btn {
  padding-right: 5px;
}

.hidden{
  display: none;
}

/* タブレット表示時 */
@media (max-width: 1024px) {
  .index_bar {
    font-size: 15px;
  }

  .main_logo {
    width: 50%;
  }

  .main_header {
    padding: 0 20px;
  }

  .nav__btn {
    padding: 6px;
  }
  
  .post {
    min-width: 40vw;
  }

  .comment-word {
    min-width: 60vw;
  }
}

/* スマホ表示時 */
@media (max-width: 599px) {
  .wrapper {
    background-size: auto;
  }

  .index_bar {
    font-size: 10px;
  }

  .search_bar {
    height: 30px;
  }

  .form-keyword {
    font-size: 10px;
    width: 55vw;
    height: 18px;
    margin: 0 10px 5px 10px;
  }
  
  .form-submit {
    font-size: 9px;
    height: 18px;
    min-width: 3vw;
    margin: 0 5px;
  }

  .main_header {
    height: 40px;
  }
  
  .main_header {
    padding: 0 10px 5px 10px;
  }
  
  .main_logo {
    width: 60%;
    padding-top: 10px;
  }
  
  .nav__btn {
    font-size: 8px;
    padding: 2px;
    margin: 0 3px;
  }

  li {
    font-size: 8px;
  }

  .user_name {
    padding: 8px;
    min-width: 10vw;
  }
  
  .user__name {
    font-size: 10px;
  }

  .post {
    background-color: grey;
    min-width: 90vw;
    padding: 3px 5px;
    margin: 7px 15px;
    opacity: 0.9;
    font-size: 10px;
  }

  .new_bar {
    height: 20px;
    font-size: 13px;
  }

  .show_bar {
    height: 20px;
    font-size: 13px;
  }
  
  .comment_room {
    padding: 5px;
    font-size: 10px;
  }
  
  .end_btn {
    padding-top: 4px;
    height: 25px;
    font-size: 9px;
  }
  
  .comment__bar {
    height: 30px;
  }
  
  .comment-word {
    font-size: 10px;
    width: 55vw;
    height: 18px;
    margin: 0 10px 5px 10px;
  }
  
  .comment-submit {
    font-size: 9px;
    height: 18px;
    min-width: 3vw;
    margin: 0 5px;
  }
  
  .message-display {
    margin: 10px 8px 10px 8px;
    height: 45px;
    font-size: 10px;
  }
  
}