* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

.wrapper {
  height: 100%;
  background-image: url(record.png);
}

/* ヘッダー */
.main_header {
  width: 100vw;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main_title {
  width: 40vw;
}

.main_header {
  background-color: gray;
  padding: 0 80px;
}

.main_logo {
  width: 27%;
}



.nav__btn {
  display: inline-block;
  text-decoration: none;
  padding: 10px;
  border: 1px solid #ffffff;
  color: #ffffff;
  margin: 0 10px;
}

.main_btn a:hover {
  opacity: 0.7;
}

/* ユーザー情報まわり */
.user_name {
  padding: 20px;
  min-width: 20vw;
}

.user__name {
  text-decoration: none;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}

.user__name:hover {
  opacity: 0.7;
}

/* 投稿・編集機能周り */

.room {
  display: flex;
  justify-content: space-around;
  float: left;
}

.post {
  background-color: grey;
  min-width: 27vw;
  padding: 3px 10px;
  margin: 10px 25px;
  opacity: 0.9;
}

.room_post {
  display: block;
  color: #ffffff;
}

.room_url, .room_user {
  border-bottom: 1px solid #ffffff;
  text-decoration: none;
  color: #ffffff;
}

.new_bar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333333;
  height: 35px;
}

.new_bar p {
  color: #ffffff;
}

.edit_bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2px;
}

.room__btn {
  text-decoration: none;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 3px;
}

/* 検索機能 */
.search_bar {
  display: flex;
  height: 50px;
  background-color: lightskyblue;
}

.index_bar {
  min-width: 20vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333333;
}

.index_bar p {
  text-decoration: none;
  color: #ffffff;
}

.search_form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-keyword {
  border: none;
  height: 33px;
  width: 60vw;
  margin: 0 20px;
}

.form-submit {
  background-color: #38AEF0;
  border: none;
  color: white;
  font-size: 16px;
  height: 35px;
  margin: 0 10px;
  padding: 0 10px;
  min-width: 10vw;
}

.form-submit:hover {
  opacity: 0.7;
}

/* コメント機能 */
.comment_bar {
  display: flex;
  border-bottom: 1px solid #333333;
}

.comment_room {
  min-width: 70vw;
  padding: 5px;
}

.comment_post {
  color: #333333;
}

.end_btn {
  text-decoration: none;
  background-color: grey;
  color: #ffffff;
  text-align: center;
  padding-top: 10px;
  min-width: 10vw;
  font-size: larger;
  height: 50px;
}

.end_btn:hover {
  opacity: 0.7;
}

.comment__bar {
  display: flex;
  height: 50px;
  width: 100vw;
  background-color: lightskyblue;
  position: fixed;
  bottom: 0;
}

.comment_form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-word {
  border: none;
  height: 33px;
  min-width: 65vw;
  margin: 0 20px;
  padding: 3px;
}

.comment-submit {
  text-decoration: none;
  background-color: #38AEF0;
  border: none;
  color: white;
  font-size: 16px;
  height: 35px;
  margin: 0 10px;
  padding: 0 10px;
  min-width: 10vw;
}

.comment-submit:hover {
  opacity: 0.7;
}

.comment_body {
  height: calc( 100vh - 200px );
}

.message-display {
  margin: 25px 20px 15px 20px;
  background-color: #ffffff;
  opacity: 0.7;
}

.upper-message {
  display: flex;
  padding: 7px 5px 5px 10px;
}

.message-user {
  padding-right: 10px;
}

.lower-message {
  padding: 0 5px 5px 10px;
}

/* ユーザー詳細機能 */
.show_bar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333333;
  height: 35px;
}

.show_bar p {
  text-decoration: none;
  color: #ffffff;
}

/* guide */
.guide {
  background-color: #ffffff;
  opacity: 0.4;
  padding: 3px 5px 3px 15px;
}

.guide_logo {
  display: flex;
  align-items: center;
}

.fa-book {
  margin-right: 3px;
  color: #127232;
}

.hidden{
  display: none;
}

