body {background-color: #4d4949;}

.inner{
  text-align: center;
}

.page-heading {
  font-size: 25px;
  margin-top: 15px;
}

.form__wrapper {
  display:flex;
  flex-flow: column;
  margin-top: 20px;
}

.field {
  height: 20px;
  margin-top: 5%;
  margin-bottom: 5%;
}

.form__btn {
  border: 1px solid #ffffff;
  padding: 5px;
  margin-top: 15px;
  background-color: gray;
  color: #ffffff;
}

.form__btn:hover {
  opacity: 0.7;
}

/* タブレット表示時 */
@media (max-width: 1024px) {
  .field {
    height: 20px;
    margin-top: 8%;
    margin-bottom: 8%;
  }
}

/* スマホ表示時 */
@media (max-width: 599px) {
  .field {
    height: 20px;
    margin-top: 16%;
    margin-bottom: 16%;
  }
}
