.inner{
  text-align: center;
}

.page-heading {
  font-size: 25px;
}

.form__wrapper {
  display:flex;
  flex-flow: column;
  margin-top: 20px;
}

.field {
  height: 20px;
  margin-top: 5%;
  margin-bottom: 5%;
}

.form__btn {
  border: 1px solid #ffffff;
  padding: 5px;
  margin-top: 15px;
  background-color: gray;
  color: #ffffff;
}

.form__btn:hover {
  opacity: 0.7;
}

